# Extracting data from relational database

## SQLite Database

### import packages

In [13]:
import sqlite3

### connect to database

In [14]:
connection = sqlite3.connect("classroomDB.db")

In [6]:
connection.close()

In [7]:
connection = sqlite3.connect("classroomDB.db")

In [8]:
cursor = connection.cursor()

In [9]:
create_table = """
                CREATE TABLE classroom(
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );"""
cursor.execute(create_table)
connection.commit()
connection.close()

In [19]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
query = "SELECT * from classroom"
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(row)

connection.close()

(1, 'Ariana', 'M', 70, 84, 92)
(2, 'Ale', 'F', 70, 84, 92)
(3, 'Ser', 'M', 70, 84, 92)
(4, 'Alberto', 'F', 70, 84, 92)

In [18]:
classroom_data = [
    (1,"Ariana","M",70,84,92),
    (2,"Ale","F",70,84,92),
    (3,"Ser","M",70,84,92),
    (4,"Alberto","F",70,84,92),
]
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
for student in classroom_data:
    insert_statement = """INSERT INTO classroom 
                            (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                        VALUES
                            ({0},"{1}","{2}",{3},{4},{5});""".format(student[0],student[1],student[2],
                                                                     student[3],student[4],student[5])
    print(insert_statement)
    cursor.execute(insert_statement)
connection.commit();
connection.close()

INSERT INTO classroom
                            (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                        VALUES
                            (1,"Ariana","M",70,84,92);
INSERT INTO classroom
                            (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                        VALUES
                            (2,"Ale","F",70,84,92);
INSERT INTO classroom
                            (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                        VALUES
                            (3,"Ser","M",70,84,92);
INSERT INTO classroom
                            (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                        VALUES
                            (4,"Alberto","F",70,84,92);

In [20]:
!conda install -y -q pymysql

/bin/sh: conda: command not found

In [21]:
!pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 35kB/s eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [22]:
import pymysql

ModuleNotFoundError: No module named 'pymysql'

In [23]:
import sys
!{sys.executable} -m pip install pymysql

Collecting pymysql
  Using cached https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [24]:
import pymysql

## connect to a mysql database

In [25]:
cnx = {'host' : 'mysqldb.c12wj3xlqsae.us-west-2.rds.amazonaws.com',
       'username' : 'test',
       'password' : 'test123456',
       'db' : 'classroomDB'}

connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )

connection.close()

OperationalError: (2003, "Can't connect to MySQL server on 'mysqldb.c12wj3xlqsae.us-west-2.rds.amazonaws.com' ([Errno 8] nodename nor servname provided, or not known)")